.welcomeText {
  font-family: 'Quattrocento Sans', sans-serif;
  color: var(--cHeading);
  h1,
  h3 {
    text-align: center;
  }

  h1 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.2rem;
    font-weight: 400;
  }

  @media (min-width: 80em) {
    h1 {
      font-size: 4.2rem;
    }

    h3 {
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
}
