.genres {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;

  justify-content: center;
  @media (min-width: 62.5em) {
    justify-content: inherit;
  }
  .item {
    display: flex;
    flex-direction: column;
    margin: 4px 12px 0 12px;
  }
  .label {
    margin: 7px auto 0;
  }
}
