.form {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.filters {
  color: #fff;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
