.section {
  float: left;
  padding: 6px 0 8px;
  &.--1-of-1 {
    lost-column: 1/1;
  }
  &.--1-of-2 {
    lost-column: 1/1;

    @media (min-width: 40em) {
      lost-column: 1/2;
    }
  }
  &.--1-of-3 {
    lost-column: 1/1;

    @media (min-width: 40em) {
      lost-column: 1/3;
    }
  }
  &.--1-of-4 {
    lost-column: 1/1;

    @media (min-width: 40em) {
      lost-column: 1/4;
    }
  }
  &.--1-of-5 {
    lost-column: 1/1;

    @media (min-width: 40em) {
      lost-column: 1/5;
    }
  }
  &.--1-of-6 {
    lost-column: 1/1;

    @media (min-width: 40em) {
      lost-column: 1/6;
    }
  }

  :local {
    h1, h2, h3, h4, h5, h6 {
      margin: 5px 0 5px 0;
    }
    ul {
      padding: 0;
    }
  }

  @media (min-width: 62.5em) {
    margin: 24px 0 8px;
  }
}
