$bg: #22262f;
$navigationSize: 50px;

.navigation {
  position: relative;
  background-color: $bg;
  width: 100%;
  height: $navigationSize;
  z-index: 5;
}

.bar {
  lost-center: 95%;
  display: flex;
  align-items: center;
  &__item {
    &--left,
    &--right {
      lost-column: 1/2;
      background-color: $bg;
      display: flex;
      color: white;
    }
    &--right {
      justify-content: flex-end;
    }
  }
  :local ul {
    margin: 0;
  }
}

/*
    TODO: Refator this to make it more flexible & repeatitive
*/

.logotype {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  h3 {
    padding: 0;
    margin: 0;
    color: var(--cHeading);
    font-size: 18px;
    font-weight: 700;
    font-family: 'Maven Pro', sans-serif;
    span {
      font-weight: 300;
      color: #FFF;
    }
  }
}

.links {
  align-self: flex-end;
  li {
    display: inline-block;
    margin-right: 12px;
  }
}
