.runtime {
  position: relative;
  top: 10px;
  font-size: 2.2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: 62.5em) {
    justify-content: flex-start;
  }
}

.icon {
  color: var(--cSup);
  margin-right: 5px;
}
