.movieArticle {
  lost-column: 1 0;
  max-height: calc(100vh - 50px);
  color: var(--cHeading);
  padding: 25px 0 15px;
  font-size: 1.6rem;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  @media (min-width: 62.5em) {
    text-align: inherit;
    lost-column: 6/12 0;
    overflow: auto;
  }
}
