$maxHeight: calc(100vh - 50px);

.movieArticle {
  lost-column: 5/12 0;
  overflow: auto;
  max-height: $maxHeight;
  color: var(--cHeading);
  padding: 25px 0 15px;
  font-size: 18px;
  font-family: "Quattrocento Sans", sans-serif;
}
