.movieArticle {
  lost-column: 1 0;
  color: var(--cHeading);
  padding: 15px 0 15px;
  font-size: 1.6rem;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  float: left;
  clear: right;
  :local section {
    margin: 6px 0;
    &:nth-child(1) {
      margin: 0;
    }
  }

  @media (min-width: 62.5em) {
    text-align: inherit;
    overflow: auto;
    max-height: calc(100vh - 50px);
  }
}
