body {
    lost-center: 90%;
}

.navigation {

}

.bar {
    background-color: #00ff00;
    &__item {
        &--left {
            background-color: #ff0000;
            &__item {
                &--logo {
                    color: #fff;
                }
            }
        }
        &--right {
            background-color: #353;
        }
    }

}
