@lost flexbox flex;
$bg: #22262F;

.navigation {
  position: relative;
  background-color: $bg;
  width: 100%;
  height: 50px;
}

.bar {
  lost-center: 95%;
  &__item {
    &--left,
    &--right {
      lost-column: 1/2;
      background-color: $bg;
      height: 50px;
      display: flex;
      align-items: center;
    }
    &--right {
      justify-content: flex-end;
    }
  }
}

/*
    TODO: Refator this to make it more flexible & repeatitive
*/

.logotype {
  h3 {
    color: #fff;
  }
}

.links {
  align-self: flex-end;
  li {
    display: inline-block;
    margin-right: 12px;
  }
}
