.form {
  display: flex;
  color: #fff;
  justify-content: center;
  position: relative;
}

.filters {
  display: flex;
  color: #fff;
  flex-direction: column;
  position: relative;
  max-width: 600px;

  &.horizontal {
    max-width: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: visible;
    bottom: 0;
    background-color: #22262e;
    padding: 30px 20px;
    :global .Select-control {
      background-color: #22262e;
    }
    :global .Select-menu-outer {
      top: auto;
      bottom: 100%;
    }
  }
}
