.form {
  display: flex;
  color: #fff;
  justify-content: center;
  position: relative;
}
.filters {
  display: flex;
  color: #fff;
  flex-direction: column;
  position: relative;
  max-width: 600px;
}