@lost flexbox flex;
$maxHeight: calc(100vh - 50px);

.result {
  lost-center: 100%;
  padding: 0;
  color: #fff;
  .item {
    lost-column: 1;
  }

  .information {
    color: var(--cHeading);
  }
}

.information {
  lost-column: 5/12 0;
  overflow: auto;
  max-height: $maxHeight;
  .item {
    float: left;
    lost-column: 1;
    padding: 25px 0 15px;
    font-size: 18px;
    font-family: "Quattrocento Sans", sans-serif;
    &.header {
      .title {
        font-size: 3.6rem;
        font-weight: 700;
        color: var(--cHeading);
      }

      .date {
        color: color(var(--cMain) lightness(30%));
      }
    }

    &.description {
      font-family: "Maven Pro", sans-serif;
    }

    &.rate {
      :local .icon {
        margin: 8px 10px 0 0;
      }
    }
  }
}

.section {

}

.icon {
  color: var(--cSup);
  &.unfilled {
    color: transparent;
    :local path {
      stroke: var(--cSup);
      stroke-width: 3;
    }
  }
}
