@lost flexbox flex;

.result {
  lost-center: 100%;
  padding: 0;
  color: #fff;
  .item {
    lost-column: 1;
  }

  .information {
    color: var(--cHeading);
  }

  .gallery {
    lost-column: 7/12 0;
    position: relative;
    overflow: hidden;
    max-height: calc(100vh - 50px);
    height: 100vh;
    :local img {
      /* height: 100vh; */
      min-width: 100%;
      lost-column: 1 0;
    }
  }
}

.information {
  lost-column: 5/12 0;
  .item {
    float: left;
    lost-column: 1;
    padding: 15px 0;
    font-size: 18px;
    font-family: "Maven Pro", sans-serif;
  }
}

.section {
  float: left;
  lost-column: 1/2;
  &.genres {
    :local ul {
      list-style: none;
      display: flex;
      flex-direction: row;
    }
    :local li {
      display: flex;
      flex-direction: column;
      margin: 0 12px 0 0;
      .genreIcon {
        margin: 0 auto;
        width: 100%;

      }
      :local h6 {
        margin: 0 auto;
      }
    }
  }
}

.icon {
  color: var(--cSup);
  font-size: 3rem;
  margin: 8px 10px 0 0;
  &.unfilled {
    color: transparent;
    :local path {
      stroke: var(--cSup);
      stroke-width: 3;
    }
  }
}
