.halfWrapper {
  float: left;
  lost-column: 1/1 0;
  background-color: #22262e;
  display: flex;
  flex-flow: column wrap;

  @media (min-width: 62.5em) {
    lost-column: 7/12 0;
  }
  :local form {
    display: none;

    @media (min-width: 62.5em) {
      display: inherit;
    }
  }
}
