.halfWrapper {
  float: left;
  lost-column: 1/1 0;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  justify-content: center;
  &.gallery {
    background-color: #22262e;

    :local form {
      display: none;
      position: absolute;
      bottom: 0;
      z-index: 44;
      width: 100%;
      padding: 20px 0;
      background-color: #22262e;
      @media (min-width: 62.5em) {
        display: flex;
        justify-content: space-between;
      }

      /* Pushes dropdown menus at top */
      :global .Select-menu-outer {
        top: auto;
        bottom: 100%;
      }
    }

    @media (min-width: 62.5em) {
      lost-column: 7/12 0;
    }
  }

  &.article {
    .mobileFilterForm {
      z-index: 5;
      bottom: 0;

      :local form {
        display: block;
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: #22262e;
      }
      :global .Select-menu-outer {
        top: auto;
        bottom: 100%;
      }

      @media (min-width: 62.5em) {
        display: none;
      }
    }

    @media (min-width: 62.5em) {
      lost-column: 5/12 0;
    }
  }

  :local section {
    margin: 0;
    padding: 0;
  }
}
