.title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Quattrocento Sans', sans-serif;
  color: var(--cSupDark);
  margin-bottom: 2px;
  &.--light {
    color: var(--cSup);
  }
}
