.description {
  font-family: "Maven Pro", sans-serif;
  :local p {
    cursor: pointer;
  }
}

.animation {
  :global span {
    &.fade-enter {
      opacity: 0;
      &.fade-enter-active {
        opacity: 1;
        transition: opacity 200ms ease-in;
        visibility: visible;

      }
    }
    &.fade-leave {
      opacity: 0;
      visibility: hidden;
      transition: opacity 100ms ease-out;
    }
  }
}
