.heartRate {
  color: var(--cSup);
}

.icon {
  margin: 0 6px 0 0;
}

.unfilled {
  color: transparent;
  :local path {
    stroke: var(--cSup);
    stroke-width: 3;
  }
}

.hearts {
  display: flex;
  align-items: center;
  .average {
    color: color(var(--cMain) l(30%));
    font-size: 2.3rem;
    margin: auto 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
  }
}