.homepage {
   /*fullheight - navigation height*/
  height: calc(100% - 50px);
  transform: translateY(-50%);
  min-height: 490px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
