/* Global Variables
   FIXME: !important statements are temporary solution for styles loading order (only on production)
   https://github.com/mxstbr/react-boilerplate/issues/1102 - more info
*/

:global :root {
  background-color: var(--cMain) !important;
  font-size: 62.5% !important;
  overflow: auto !important;
}

:global .app {
  background-color: var(--cMain) !important;
}

/*
  Fonts
  Using only TrueType extension,
  support of this extension is: http://caniuse.com/#feat=ttf
*/

/* Maven Pro */

@font-face {
  font-family: "Maven Pro";
  src: url('../../assets/fonts/Maven_Pro/MavenPro-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Maven Pro";
  src: url('../../assets/fonts/Maven_Pro/MavenPro-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Maven Pro";
  src: url('../../assets/fonts/Maven_Pro/MavenPro-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Quattrocento Sans */

@font-face {
  font-family: "Quattrocento Sans";
  src: url('../../assets/fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url('../../assets/fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url('../../assets/fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: url('../../assets/fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
