/* fixme: Problem with margins and PostCSS Inheritance, temporary fix is !important */
.gallery {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  overflow: hidden;
  max-height: calc(100vh - 50px);

  /* height: calc(100vh - 50px); */
  background-color: #22262e;
}

.loading {
  position: absolute;
  bottom: 16%;
  right: 20px;
  z-index: 999;
  width: 36px;
  height: 36px;
}
