
:global .Select-control,
:global .is-open > .Select-control,
:global .Select-menu-outer,
:global .Select-option {
  background-color: var(--cMain);
  border-color: var(--cText);
  border-radius: 0;
  font-size: var(--fsText);
}

:global .has-value.Select--single > .Select-control .Select-value .Select-value-label,
:global .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: var(--cText);
}

:global .Select {
  color: var(--cText);
}

:global .Select-input {
  color: var(--cText);
}

:global .Select-control {
  min-width: 200px;

  @media (max-width: 100em) {
    min-width: 120px;
  }
}

:global .Select-option {
  font-size: var(--fsText);

  &.is-selected,
  &.is-focused {
    color: var(--cText);
    background-color: var(--cSup);
  }

  &:hover,
  &.is-focused,
  &:focus {
    background-color: var(--cSupHover);
  }

  &.is-selected {
    &:hover,
    &.is-focused {
      background-color: var(--cSup);
    }
  }
}

:global .Select-placeholder {
  font-size: var(--fsText);
}

:global .has-value.Select--single > .Select-control > .Select-value .Select-value-label,
:global .has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value .Select-value-label {
  color: var(--cText);
}

.select {
  margin: 30px 10px 0 0;
  width: 100%;
}
