
:global .Select-control,
:global .is-open > .Select-control,
:global .Select-menu-outer,
:global .Select-option {
  background-color: var(--cMain);
  border-color: var(--cText);
  border-radius: 0;
  font-size: var(--fsText);
}

:global .has-value.Select--single > .Select-control .Select-value .Select-value-label,
:global .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: var(--cText);
}

:global .Select {
  color: var(--cText);
  width: 100%;
  position: absolute;
}

:global .Select > .Select-control {
  width: inherit;
}

:global .Select-input {
  color: var(--cText);
  max-width: 470px;
  display: block !important;
  :global input {
    width: 100% !important;
  }
}

:global .Select-option {
  font-size: var(--fsText);

  &.is-selected,
  &.is-focused {
    color: var(--cText);
    background-color: var(--cSup);
  }

  &:hover,
  &.is-focused,
  &:focus {
    color: #fff;
    background-color: var(--cSupHover);
  }

  &.is-selected {
    &:hover,
    &.is-focused {
      color: #fff;
      background-color: var(--cSup);
    }
  }
}

:global .Select-placeholder {
  font-size: var(--fsText);
}

:global .has-value.Select--single > .Select-control > .Select-value .Select-value-label,
:global .has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value .Select-value-label {
  color: var(--cText);
}

.select {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  min-width: 115px;
  margin: 0 5px;
  flex-basis: auto;

  .child {
    position: relative;
    height: 36px;
  }
}

.sup {
  margin-top: -1px;
  :global .Select-control,
  :global .is-open > .Select-control {
    border: 2px solid var(--cSupDark);
  }

  :global .Select-control,
  :global .is-open > .Select-control,
  :global .Select-menu-outer,
  :global .Select-option {
    border-color: var(--cSupDark);
  }
}

.fullWidth {
  flex-basis: 100%;
  flex-grow: 4;
}
